<!--
 *   File Name			: footer.html
 *   File Description	: 공통 푸터 프래그먼트
 *
 *   Date				Author				Description
 *	--------------------------------------------------------
 *	2026-03-16		    yeoun1107			최초작성
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragment" class="footer footer-container">
    <p class="footer-text">
        &copy; 2026 <a href="/index" class="text-primary fw-semibold text-decoration-none">Study Spring</a>. All Rights Reserved.
    </p>
    <div class="footer-links">
        <a href="#">About Us</a>
        <a href="#">License</a>
    </div>
</div>
</html>
